<nav id="topo" class="navbar navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/">Aprendendo {{titulo}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inglês</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Espanhol</a>
          </li>
        </ul>
      </div>

</nav>